{% extends "base.html" %}

{% block titulo %}Hominis - Inicial {% endblock %}
{% block header %}
<button class="botao-header">Inicio</button>
<button class="botao-header">Adicionar</button>
{% endblock %}

{% block conteudo %}

<div class="caixa-tabela">
    
    <div class="container-conteudo">
        <div class="tabela-nome-func">Gustavo Soares Araujo Evangelista dos Anjos</div>
        <div class="tabela-cpf-func">153-486</div>
        <div class="tabela-botoes">
            <button class="botoes-tabela">Informações</button> 
            <button class="botoes-tabela">Editar</button>
        </div>
    </div>

</div>

{% endblock %}